body {
  font-family: 'Microsoft JhengHei', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  background-color: #454655;
  color: #ffffff;
}

center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  margin-bottom: 40px;
  color: #ffffff;
  font-family: courier new;
}

input[type="button"],input[type="submit"], input[type="reset"] {
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  padding-left: 30px;
  width: 200px;
  height: 50px;
  background-color: #343541;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  font-family: courier new;
  
}

input[type="button"]:hover {
  background-color: #212122;
  color: #ffffff;
}

input[type="submit"]:hover {
  background-color: #212122;
  color: #ffffff;
}
input[type="reset"]:hover {
  background-color: #212122;
  color: #ffffff;
}

input[type="button"]:active {
  background-color: #3e8e41;
}
input[type="submit"]:active {
  background-color: #3e8e41;
}
input[type="reset"]:active {
  background-color: #3e8e41;
}




input[type="button"]:focus {
  outline: none;
}
input[type="submit"]:focus {
  outline: none;
}
input[type="reset"]:focus {
  outline: none;
}


input[type="text"],
input[type="number"],
input[type="date"],input[type="password"],input[type="email"]
 {
  border: 1px solid #343541;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #41404f;
  color: #ccc;
}

input.valid {
  border: 2px solid green;
}
input.invalid {
  border: 2px solid red;
}
/* 美化Radio */
input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle;
  background-color: #41404f;
  border: 1px solid #343541;
}

select {
  background-color: #41404f;
  color: #ccc;
  border: 1px solid #343541;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
  background-color: #41404f;
  border: 1px solid #343541;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #3e8e41;
}
